.csk-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.csk-alert h4 {
  margin-top: 0;
  color: inherit;
}
.csk-alert .csk-alert-link {
  font-weight: bold;
}
.csk-alert > p,
.csk-alert > ul {
  margin-bottom: 0;
}
.csk-alert > p + p {
  margin-top: 5px;
}
.csk-alert-danger {
  background-color: #f23f3c;
  border-color: black;
  color: white;
}
.csk-alert-danger hr {
  border-top-color: #e4b9c0;
}
.csk-alert-danger .csk-alert-link {
  color: #843534;
}
