{
  "manifest_version": 2,
  "name": "Comic Sans Killer",
  "description": "This extension will kill any ComicSans email and span its sender",
  "version": "1.0",
  "browser_action": {
    "default_icon": "icon.png",
    "default_popup": "popup.html"
  },
  "permissions": [
    "background",
    "identity",
    "https://www.googleapis.com/*"
  ],
  "background": {
    "scripts": [
      "js/background.js"
    ],
    "persistent": false
  },
  "oauth2": {
    "client_id": "Your Client id",
    "scopes": [
      "profile",
      "https://www.googleapis.com/auth/gmail.readonly"
    ]
  },
  "key": "Your oauth key",
  "content_scripts": [
    {
      "matches": [
        "https://mail.google.com/mail/*"
      ],
      "js": [
        "js/script.js"
      ]
    }
  ]
}